/* Override styles for template */

#banner {
    background-color: #d01d1d;
    background-image: url("/images/cincinnati-skyline.svg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 100%;
}

#banner .inner .button {
    font-size: 150%;
}

table td {
    font-weight: 600;
    font-size: 100%;
}

ul {
    text-align: left;
}